body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}

@media screen and (max-width: 400px) {
    html {
        font-size: 10px;
    }

    #small {
        display: block;
    }

    #large {
        display: none;
    }

    #body-base {
        padding-top: 6em;
        padding-left: 2em;
    }
}

@media screen and (min-width: 401px) {
    html {
        font-size: 18px;
    }

    #small {
        display: none;
    }

    #large {
        display: block;
    }

    #body-base {
        padding-top: 3em;
        padding-left: 2em;
    }
}

#nav-base {
    margin: 0;
    padding: 1em;
    position: fixed;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.nav-link {
    color: white;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
}

.nav-link:visited {
    color: white;
}

#nav-cart {
    border: 2px solid white;
    padding: 0.1em;
    border-radius: 1em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.each-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul {
    list-style: none;
}

th {
    background-color: blue;
    color: white;
    border-radius: 0.5em;
}

td {
    background-color: lightyellow;
    color: black;
    border-radius: 0.5em;
}

.tb_pizza th {
    background-color: green;
}

#purchased {
    margin: 0.em;
    padding: 0.em;
}
