{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'orders/mystyle_base.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav id="nav-base">
        <a class="nav-link" id="nav-menu" href="{% url 'index' %}">Menu</a>
        <span id="cart">
            <a class="nav-link" id="nav-cart" href="{% url 'view_cart' %}">Cart</a>
        </span>
        <a class="nav-link" id="nav-purchased" href="{% url 'view_purchased' %}">Your Orders</a>
        {% if username %}
        <span style="color:lightblue;font-weight:bold">Hello {{ username }} </span>
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Log-In</a>
        <a class="nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>

    <div id="body-base">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>
