{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Cart: Pizza & Subs
{% endblock %}

{% block body %}
<h1>Your Shopping Cart</h1>
<h2>Total Price: ${{ total_price_d }}.{{ total_price_c }} </h2>
<h3>Total Number of the items: {{ total_quantity }} </h3>

<div id="large" style="overflow-x:auto;">
    <table>
        {%if your_cart%}
        <tr>
            <th>Menu</th>
            <th>Size</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Toppings</th>
            <th>Subtotal Price</th>
            <th></th>
        </tr>
        {% endif %}
        {% for item in your_cart %}
        <tr>
            <td>{{ item.0.type }}: {{ item.0.menu }}</td>
            <td>{{ item.0.size }}</td>
            <td>{{ item.0.price_str }}</td>
            <td>
                <form class="change" action="{% url 'change' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="cid" value="{{ item.0.cid }}">
                    <!--
            <input type="number" name="quantity" min="1" max="10" value="{{ item.quantity }}"
            onclick="this.parentNode.submit();">
            -->
                    <select name="quantity_s" onchange="this.parentNode.submit();">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </form>
            </td>
            <td>
                {% if item.0.toppings.0 %}
                {{ item.0.toppings.0 }}
                {% endif %}
                {% if item.0.toppings.1 %}
                / {{ item.0.toppings.1 }}
                {% endif %}
                {% if item.0.toppings.2 %}
                / {{ item.0.toppings.2 }}
                {% endif %}
            </td>
            <td>{{ item.0.sub_total_price_d }}.{{ item.0.sub_total_price_c }}</td>
            <td>
                <form action="{% url 'delete_confirm' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="cid" value="{{ item.0.cid }}" hidden>
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="small" style="overflow-x:auto;">
{% for item in your_cart %}
<table>
<tr>
    <th>Menu</th> <td>{{ item.0.type }}: {{ item.0.menu }}</td>
</tr>
<tr>
    <th>Size</th><td>{{ item.0.size }}</td>
</tr>
<tr>
    <th>Price</th><td>{{ item.0.price_str }}</td>
</tr>
<tr>
    <th>Qty</th>
    <td>
        <form class="change" action="{% url 'change' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="cid" value="{{ item.0.cid }}">
            <!--
    <input type="number" name="quantity" min="1" max="10" value="{{ item.quantity }}"
    onclick="this.parentNode.submit();">
    -->
            <select name="quantity_l" onchange="this.parentNode.submit();">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </form>

    </td>
</tr>
<tr>
    <th>Toppings</th>

    <td>
            {% if item.0.toppings.0%}
                {{ item.0.toppings.0 }}
            {% endif %}
            {% if item.0.toppings.1%}
                {{ item.0.toppings.1 }}
            {% endif %}
            {% if item.0.toppings.2%}
                {{ item.0.toppings.2 }}
            {% endif %}
    </td>
</tr>
<tr>
    <th>Total Price</th>
    <td>{{ item.0.sub_total_price_d }}.{{ item.0.sub_total_price_c }}
    </td>
</tr>
<tr>
    <th></th>
    <td>
            <form action="{% url 'delete_confirm' %}" method="post">
                {% csrf_token %}
                <input type="text" name="id" value="{{ item.id }}" hidden>
                <input type="submit" value="Delete">
            </form>
    </td>
</tr>
</table>
{% endfor %}
</div>

<br>

{% if your_cart %}
<form action="{% url 'place_order' %}" method="post">
    {% csrf_token %}
    <input type="Submit" value="Place an Order">
</form>
{% endif %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const array = [];
        {% for item in your_cart %}
            array.push('{{ item.0.quantity }}');
        {% endfor %}
        console.log(array);
        document.querySelectorAll('select[name="quantity_s"]').forEach((item, i) => {
            item.value = array[i];
        });
        document.querySelectorAll('select[name="quantity_l"]').forEach((item, i) => {
            item.value = array[i];
        });
    });
</script>

{% endblock %}
