{% extends "orders/base.html" %}

{% block title %}
Delete Confirmation: Pizza & Subs
{% endblock %}

{% block body %}

<h1>Delete Confirmation</h1>
<h2>Are You Sure You Want to Delete the Following Items?</h2>

<table>
    <tr>
        <th>Menu</th>
        <th>Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Toppings</th>
    </tr>
    <tr>
        <td>{{ type }}: {{ menu }}</td>
        <td>{{ size }}</td>
        <td>{{ price_str }}</td>
        <td>{{ quantity }}</td>
        <td>
            {% if toppings.0 %}
                {{ toppings.0 }}
            {% endif %}
            {% if toppings.1 %}
                / {{ toppings.1 }}
            {% endif %}
            {% if toppings.2 %}
                / {{ toppings.2 }}
            {% endif %}
        </td>
    </tr>
</table>
<form action="{% url 'delete' %}" method="post">
    {% csrf_token %}
    <input type="text" name="cid" value="{{ cid }}" hidden>
    <input type="submit" value="Yes. I'm sure.">
</form>
<p><a href="{% url 'view_cart' %}">Cancel</a></p>

{% endblock %}
