{% extends "orders/base.html" %}

{% block title %}
Pizza & Subs
{% endblock %}

{% block body %}
<h1>Menu</h1>
{% if username %}
<h3 style="color:blue">Welcome {{ username }}! You are Logged In.</h3>
{% else %}
<h3>Please Log-In to Order!</h3>
<a href="{% url 'login' %}">Log-In</a>
<a href="{% url 'register' %}">Register</a>
{% endif %}

<h2>Pizza</h2>
<div class="flex-container">
    <div class="each-container">

        <h3>Regular Pizza</h3>
        <a href="{% url 'order' 'Regular Pizza' %}">Choose Option</a>
        <table class="tb_pizza">
            <tr>
                <th>Type</th>
                <th>Small</th>
                <th>Large</th>
            </tr>
            {% for item in regular_pizza %}
            <tr>
                <td>{{ item.menu }}</td>
                <td>{{item.price_str_small}}</td>
                <td>{{item.price_str_large}}</td>
            </tr>
            {% empty %}
            No items available
            {% endfor %}
        </table>
    </div>

    <div class="each-container">
        <h3>Scilian Pizza</h3>
        <a href="{% url 'order' 'Sicilian Pizza' %}">Choose Option</a>
        <table class="tb_pizza">
            <tr>
                <th>Type</th>
                <th>Small</th>
                <th>Large</th>
            </tr>
            {% for item in sicilian_pizza %}
            <tr>
                <td>{{ item.menu }}</td>
                <td>{{item.price_str_small}}</td>
                <td>{{item.price_str_large}}</td>
            </tr>
            {% empty %}
            No items available
            {% endfor %}
        </table>
    </div>

    <div class="each-container">
        <h4>Toppings</h4>
        <ul>
            {% for item in toppings %}
            <li>{{ item.topping }}</li>
            {% empty %}
            <li>No items available</li>
            {% endfor %}
        </ul>
    </div>
    <div class="each-container">
        <h2>Saladas</h2>
        <a href="{% url 'order' 'Salads' %}">Choose</a>
        <table>
            <tr>
                <th></th>
                <th>Price</th>
            </tr>
            {% for item in salad %}
            <tr>
                <td>{{ item.menu }}</td>
                <td>{{ item.price_str }}</td>
            </tr>
            {% empty %}
            No items available
            {% endfor %}
        </table>
    </div>
    <div class="each-container">
        <h2>Pasta</h2>
        <a href="{% url 'order' 'Pasta' %}">Choose</a>
        <table>
            <tr>
                <th></th>
                <th>Price</th>
            </tr>
            {% for item in pasta %}
            <tr>
                <td>{{ item.menu }}</td>
                <td>{{ item.price_str }}</td>
            </tr>
            {% empty %}
            No items available
            No items available
            {% endfor %}
        </table>
    </div>
    <div class="each-container">
        <h2>Dinner Platters</h2>
        <a href="{% url 'order' 'Dinner Platters' %}">Choose</a>
        <table>
            <tr>
                <th></th>
                <th>Small</th>
                <th>Large</th>
            </tr>
            {% for item in dinner_platters %}
            <tr>
                <td>{{ item.menu }}:</td>
                <td>{{item.price_str_small}}</td>
                <td>{{item.price_str_large}}</td>
            </tr>
            {% empty %}
            No items available
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
