{% extends "orders/base.html" %}

{% block title %}
Log In: Pizza & Subs
{% endblock %}

{% block body %}

<h1>Welcome to Log In Page</h1>
{% if message %}
<p style="color:red">{{ message }}</p>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <p>User Name: <input type="text" name="username" autocomplete="off"></p>
    <p>Password: <input type="password" name="password" autocomplete="off"></p>
    <p><input type="submit" value="Log In"></p>
</form>
<a href="{% url 'index' %}">Back to Menu</a>
{% endblock %}
