{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Order: Pizza & Subs
{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'orders/order_pizza.js' %}"></script>
{% endblock %}

{% block body %}
<h1>Your Pizza's Order</h1>
<h2>{{ type  }}</h2>

<form action="{% url 'add_cart' %}" method="post">
    {% csrf_token %}
    <p>
        <input type="radio" name="size"  value="small" checked>Small
        <input type="radio" name="size"  value="large">Large
    </p>

    <p><input type="radio" name="id" class="pizza" value="{{ pizza.0.id }}" checked>
        {{ pizza.0.menu }} /
        <span class="small" hidden>{{ pizza.0.price_str_small }}</span>
        <span class="large" hedden>{{ pizza.0.price_str_large }}</span>
    </p>

    <p><input type="radio" name="id" class="pizza toppings" id="topping_1" value="{{ pizza.1.id }}">
        {{ pizza.0.menu}} {{ pizza.1.menu }} /
        <span class="small" hidden>{{ pizza.1.price_str_small }}</span>
        <span class="large" hedden>{{ pizza.1.price_str_large }}</span>
    </p>
    <div id="option_1" hidden>
        Choose One Topping <select name="topping_1">
        <option value="">-- Select --</option>
        {% for item in toppings %}
            <option value="{{ item.topping }}">{{ item.topping }}</option>
        {% empty %}
            No toppings available
        {% endfor %}
        </select>
    </div>

    <p><input type="radio" name="id" class="pizza toppings" id="topping_2" value="{{ pizza.2.id }}">
        {{ pizza.0.menu}} {{ pizza.2.menu }} /
        <span class="small" hidden>{{ pizza.2.price_str_small }}</span>
        <span class="large" hedden>{{ pizza.2.price_str_large }}</span>
    </p>
    <div id="option_2" hidden>
        Choose Two Toppings <select name="topping_1">
        <option value="">-- Select --</option>
        {% for item in toppings %}
            <option value="{{ item.topping }}">{{ item.topping }}</option>
        {% empty %}
            No toppings available
        {% endfor %}
        </select>
        <select name="topping_2">
        <option value="">-- Select --</option>
        {% for item in toppings %}
            <option value="{{ item.topping }}">{{ item.topping }}</option>
        {% empty %}
            No toppings available
        {% endfor %}
        </select>
    </div>

    <p><input type="radio" name="id" class="pizza toppings" id="topping_3" value="{{ pizza.3.id }}">
        {{ pizza.0.menu}} {{ pizza.3.menu }} /
        <span class="small" hidden>{{ pizza.3.price_str_small }}</span>
        <span class="large" hedden>{{ pizza.3.price_str_large }}</span>
    </p>
    <div id="option_3" hidden>
        Choose Three Toppings <select name="topping_1" disabled>
        <option value="">-- Select --</option>
        {% for item in toppings %}
            <option value="{{ item.topping }}">{{ item.topping }}</option>
        {% empty %}
            No toppings available
        {% endfor %}
        </select>
        <select name="topping_2" disabled>
        <option value="">-- Select --</option>
        {% for item in toppings %}
            <option value="{{ item.topping }}">{{ item.topping }}</option>
        {% empty %}
            No toppings available
        {% endfor %}
        </select>
        <select name="topping_3" disabled>
        <option value="">-- Select --</option>
        {% for item in toppings %}
            <option value="{{ item.topping }}">{{ item.topping }}</option>
        {% empty %}
            No toppings available
        {% endfor %}
        </select>
    </div>

    <p><input type="radio" name="id" class="pizza" value="{{ pizza.4.id }}">
        {{ pizza.4.menu }} /
        <span class="small" hidden>{{ pizza.4.price_str_small }}</span>
        <span class="large" hedden>{{ pizza.4.price_str_large }}</span>
    </p>

    <!--
    <p><input type="number" name="quantity" min="1" max="10" value="1"></p>
    -->
    Quantity:
    <select name="quantity">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <p><button type="submit" onclick="return validateForm();">Add to Cart</button></p>
</form>
<div id="message" style="color:red"></div>

{% endblock %}
