{% extends "orders/base.html" %}

{% block title %}
Order Success: Pizza & Subs
{% endblock %}

{% block body %}

<h1>Your Order is Completed! Thank you for Purchasing!</h1>
<h3 style="color:blue">You are Logged In as {{ username }}</h3>
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'index' %}">Back to Menu</a>
<a href="{% url 'view_purchased' %}">Your Orders</a>

{% endblock %}
