{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Order: Pizza & Subs
{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'orders/order_subs.js' %}"></script>
{% endblock %}

{% block body %}
<h1>Your Subs Order</h1>
<h2>{{ type  }}</h2>
<form action="{% url 'add_cart_subs' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="size" value="none">
    {% for item in subs %}
        <p><input type="radio" name="id" value="{{ item.id }}">
        {{ item.menu }} / {{ item.price_str }}
        </p>
    {% empty %}
    No Items
    {% endfor %}

    Quantity:
    <select name="quantity">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <p><button type="submit" onclick="return validateForm();">Add to Cart</button></p>
</form>
<div id="message" style="color:red"></div>

{% endblock %}
