{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Order: Pizza & Subs
{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'orders/order_dinner.js' %}"></script>
{% endblock %}

{% block body %}
<h1>Your Pizza's Order</h1>
<h2>{{ type  }}</h2>
<form action="{% url 'add_cart_subs' %}" method="post">
    {% csrf_token %}

    <p><input type="radio" name="size"  value="small" checked>Small
       <input type="radio" name="size"  value="large">Large</p>
    {% for item in dinner %}
        <p><input type="radio" name="id" value="{{ item.id }}">
        {{ item.menu }} /
        <span class="small" hidden>{{ item.price_str_small }}</span>
        <span class="large" hedden>{{ item.price_str_large }}</span>
        </p>
    {% empty %}
    No Items
    {% endfor %}

    <!--
    <p><input type="number" name="quantity" min="1" max="10" value="1"></p>
    -->
    Quantity:
    <select name="quantity">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <p><button type="submit" onclick="return validateForm();">Add to Cart</button></p>
</form>
<div id="message" style="color:red"></div>

{% endblock %}
