{% extends "orders/base.html" %}

{% block title %}
Cart: Pizza & Subs
{% endblock %}

{% block body %}

<h1>Your Orders</h1>

{% for order in orders %}
<div id="purchased">
    <h4>Order Id: {{ order.order_id}} &nbsp;&nbsp; Ordered at {{ order.order_date }}</h4>
    <h4>Total Price: ${{ order.total_price_d }}.{{ order.total_price_c }} &nbsp;&nbsp;
        Total Number of the items: {{ order.total_quantity }}</h4>

    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Menu</th>
                <th>Size</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Toppings</th>
                <th>Sub Totals</th>
            </tr>
            {% for item in order.purchased %}
            <tr>
                <td>{{ item.type }}: {{ item.menu }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.price_str }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    {% if item.toppings.0 %}
                    {{ item.toppings.0 }}
                    {% endif %}
                    {% if item.toppings.1 %}
                    / {{ item.toppings.1 }}
                    {% endif %}
                    {% if item.toppings.2 %}
                    / {{ item.toppings.2 }}
                    {% endif %}
                </td>
                <td>{{ item.sub_total_price_d }}.{{ item.sub_total_price_c }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endfor %}

{% endblock %}
