{% extends "orders/base.html" %}

{% block title %}
Registration: Pizza & Subs
{% endblock %}

{% block body %}
<h1 style="color:green">Registration Success!</h1>
<a href="{% url 'index' %}">Back to Menu</a>
{% endblock %}
