{% extends "orders/base.html" %}

{% block title %}
Registration: Pizza & Subs
{% endblock %}

{% block body %}

<h1>Welcome to Registration Page</h1>
{% if message %}
<p style="color:red">{{ message }}</p>
{% endif %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <p>User Name: <input type="text" name="username" autocomplete="off"></p>
    <p>Password: <input type="password" name="password" autocomplete="off"></p>
    <p>First Name: <input type="text" name="firstname" autocomplete="off"></p>
    <p>Last Name: <input type="text" name="lastname" autocomplete="off"></p>
    <p>Email: <input type="text" name="email" autocomplete="off"></p>
    <p><input type="submit" value="Registration"></p>
</form>
<a href="{% url 'index' %}">Back to Menu</a>
{% endblock %}
